@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/******************
    RESET
******************/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
footer,
header,
output {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
footer,
header {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/******************
    VARIABLES
******************/

body {
  --color-blue: rgb(69, 144, 206);
  --color-grey: rgb(227, 232, 239)
}

/******************
    MAIN
******************/

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: 160px 1fr;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--color-blue);
  padding: 25px;

  display: grid;
  grid-template-rows: 90px 300px 140px; 
  color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-links > ul,
.settings-links > ul {
  font-size: 1.2rem;
  font-weight: 800;
  display: grid;
  gap: 25px;
}


.sidebar-link {
  color: white;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: white;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 3fr;
}

header > * {
  border: 1px solid black;
}

.search {
  grid-column: 1 / 2;
}

.user-info { 
  grid-column: 2 / 3;
}

.greeting { 
  grid-column: 1 / 2;
}

.buttons { 
  grid-column: 2 / 3;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--color-grey);

  display: grid;
  grid-template-columns: 1fr 280px;
}

.projects-header {
  padding: 30px 0 0 20px;
  font-weight: 500;
  font-size: 1.2rem;
}

.projects-container {
  padding: 10px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgb(185, 185, 185);
  padding: 30px 20px 30px;
  background-color: white;
}

.project {
  background: linear-gradient(90deg, rgb(231, 182, 74), rgb(231, 182, 74) 7px, #fff 7px, #fff 40px);
  display: grid;
  grid-template-rows: 1fr 90px 1fr;
}

.card h4 {
  font-weight: 700;
}

.card > p {
  font-weight: 300;
  font-size: .9rem;
  color: rgb(100, 100, 100);
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  justify-items: end;
}

.card-buttons button {
  border: none;
  background-color: white;
  height: 25px;
  width: 25px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.star {
  background-image: url(./images/star-plus-outline.svg);
}

.eye {
  background-image: url(./images/eye-plus-outline.svg);
}

.fork {
  background-image: url(./images/source-fork.svg);
}

.right-sidebar {
  display: grid;
  grid-template-rows: 40px 300px 20px 300px;
  grid-gap: 20px;
  padding: 0 20px 20px 0;
}

.announcements-header {
  padding: 30px 0 0 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.announcements { 
  grid-column: -1 / -2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.announcements { 
  padding: 10px 20px 20px;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid rgb(199, 199, 199);
}

.announcement > h5 {
  font-size: .8rem;
  font-weight: 800;
  padding: 20px 5px 5px;
}



.announcement > p {
  font-size: .7rem;
  font-weight: 300;
  padding: 0 5px 5px;
  line-height: .8rem;
}

.trending-header {
  padding: 10px 0 0 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.trending {
  grid-column: -1 / -2;
  padding: 10px 20px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.trending-account {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;

  font-size: .8rem;

}

.trending-account-image {
  height: 40px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.trending-account-handle {
}

.trending-account-name {
  color: rgb(97, 97, 97)
}